html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}












*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #4a6385;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-top: 1px solid #3882e5;
}

.header-menu__list {
    height: 86px;
}

.header-menu__list {
    display: flex;
    gap: 0 38px;
    align-items: center;
}

.header-menu__item:nth-child(1) {
    margin-right: auto;
}

.header-menu__item__link {
    font-family: 'Open Sans', sans-serif;
    color: #2f3f54;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

                                    /* ------------------------------------------- */
                                    /* ------------------------------------------- */
                                    /* ------------------------------------------- */

.top {
    background-color: #3882e5;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(7) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(214, 78%, 55%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-35,-105)' fill='url(%23a)'/></svg>");
    padding: 160px 0 185px 0;
    color: #fff;
    margin-bottom: 160px;
}

.top-inner {
    display: flex;
}

.top-info {
    max-width: 555px;
    margin-right: 30px;
}
.top-info__subtitle {
    font-size: 14px;
}

.top-info__subtitle:nth-of-type(3){
    display: block;
    margin-top: 37px;
}

.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 27px;
}
.top-info__price {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 17px;
}
.top-info__features-list {
    font-size: 14px;
    margin-top: 43px;
    margin-bottom: 56px;
}
.top-info__features-item {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 25px;
}

.top-info__features-item::before {
    position: absolute;
    width: 13px;
    height: 13px;
    content: '';
    background: url(../img/checkbox.svg);
    background-size: contain;
    top: 7px;
    left: -24px;
}

.wp {
    margin-left: 15px;
    position: relative;
}

.wp::before {
    position: absolute;
    width: 16px;
    height: 16px;
    content: '';
    background: url(../img/wp.svg);
    background-size: contain;
    top: 2px;
    left: -16px;
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 44px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: all 1s;
}

.top-info__btn:hover {
    background: linear-gradient(#1ce08c, #14aeaa);
}

.top-img__box {
    position: relative;
}

.top-img__circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: absolute;
    right: -50px;
    top: -50px;
}
.top-img__title {
    font-size: 14px;
    line-height: 24px;
    align-self: flex-start;
}
.top-img__price {
    font-weight: 700;
    font-size: 54px;
    line-height: 24px;
    margin: 20px 0;
}
.top-img__date {
    font-size: 14px;
    line-height: 24px;
    align-self: flex-end;
}

                                /* ------------------------------------------- */
                                /* ------------------------------------------- */
                                /* ------------------------------------------- */

.title {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
}

.colored-blue {
    color: #2575e7;
}

.colored-red {
    color: #e74c3c;
    cursor: pointer;
}

.colored-green {
    color: #42d6c1;
}

.price-description {
    text-align: center;
    font-size: 14px;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 126px;
}

.options-list {
    display: flex;
    gap: 30px;
    margin-bottom: 182px;
}

.options-item {
    box-shadow: 0px 0px 20px #aeaeae;
    border-radius: 3px;
    position: relative;
    overflow-y: hidden;
}

.options-item__container {
    padding: 28px 50px 0 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.options-item::before {
    position: absolute;
    content: '';
    background-color: #2575e7;
    width: 319px;
    height: 443px;
    border-radius: 50%;
    top: -345px;
    left: 50%;
    transform: translateX(-50%);
    transition: top .7s;
}

.options-item:hover::before {
    top: -325px;
}

.options-item__price {
    text-align: center;
    margin-bottom: 78px;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
}

.euro {
    font-size: 22px;
}

.month {
    font-size: 16px;
}

.options-item__img {
    margin: 0 auto 48px;
    height: 123px;
}

.options-item__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 33px;
}

.options-item__description {
    font-size: 14px;
    margin-bottom: 65px;
}

.options-item__features {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 77px;
}

.options-item__features-item {
    padding-left: 36px;
    position: relative;
    margin-bottom: 12px;
}

.options-item__features-item::before {
    position: absolute;
    width: 15px;
    height: 15px;
    content: '';
    background: url(../img/check.svg);
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0.6;
}

.options-item__btn {
    display: block;
    font-size: 17px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2575e7;
}

.options-item__btn:hover {
    background: linear-gradient(#1ce08c, #14aeaa);
}

                                /* ------------------------------------------- */
                                /* ------------------------------------------- */
                                /* ------------------------------------------- */

.footer {
    padding-top: 84px;
    padding-bottom: 125px;
    color: #718db2;
    background-color: #344358;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(7) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='hsla(213, 26%, 27%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.footer-inner {
    display: flex;
    gap: 70px;
    justify-content: space-between;
}

.footer-content:not(.footer-content:nth-child(1+4n)) {
    flex-basis: 160px;
}

.footer-content:nth-child(1) {
    max-width: 250px;
}

.footer-content:nth-child(4) {
    max-width: 270px;
}

.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding: 30px 0;
    border-bottom: 1px solid #718db2;
}

.footer-title {
    color: #d0e4ff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 33px;
}

.footer-link {
    font-size: 13px;
    text-decoration: none;
    color: #718db2;
    display: inline-block;
}

.footer-link {
    margin-bottom: 10px;
}

.footer__form input {
    border: 1px solid rgba(62, 78, 97, 0.7);
    border-bottom: none;
    background-color: transparent;
    margin: 0;
    padding: 16px 11px;
    width: 270px;
    height: 38px;
}

.footer__form input::placeholder {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #718db2;
}

.footer__form textarea {
    border: 1px solid rgba(62, 78, 97, 0.7);
    background-color: transparent;
    padding: 16px 11px;
    width: 270px;
    height: 85px;
    resize: none;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.footer__form textarea::placeholder {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #718db2;
}

.footer__form-btn {
    cursor: pointer;
    border: none;
    background-color: #2575e7;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fff;
    padding: 12px 15px;
}

.footer__form-btn:hover {
    background: linear-gradient(#1ce08c, #14aeaa);
}